@media(max-width: 1440px) {
    .logo {
        img {
            width: 101px;
        }
    }
    .menu {
        padding-top: 10px;
    }
    .header {
        &__title {
        font-size: 130px;
        line-height: 108px;
        top: 20px;
        left: 60px;
        }
        &__search {
            padding-bottom: 8px;
        }
        &__date {
            font-size: 60px;
            span {
                margin-bottom: 5px;
                padding-top: 0;
                font-size: 14px;
            }
        }
        &__arrows {
            left: 130px;
        }
        &__location {
            font-size: 13px;
        }
    }
    .surf-box {
        &__inner {
            min-height: 650px;
        }
    }
}
@media(max-width: 1366px) {
    .header {
        &__aside {
            position: absolute;
            text-align: left;
            display: flex;
            height: 109px;
            padding-right: 25px;
            background-color: rgba(#fff, .1);
            border-right: none;
        }
        &__search {
            padding: 33px 15px 15px;
        }
        &__date {
            padding: 15px;
        }
        &__location {
            margin-top: 42px;
        }
        &__arrows {
            left: 20px;
            bottom: 20px;
        }
    }
    .menu {
        padding-top: 0;
        &__list {
            text-align: center;
            li {
                display: inline-block;
            }
            a {
                padding: 15px;
            }
        }
    }
    .slider-item__info {
        &-title {
            font-size: 60px;
        }
    }
}
@media(max-width: 1340px) {
    .header {
        &__map {
            svg {
                width: 500px;
                height: 250px;
            }
        }
    }
    .slider-arrows {
        top: 20px;
        right: 20px;
        &__left {
            right: 60px;
        }
    }
}
@media(max-width: 1287px) {
    .slider-map {
        .slick-list {
            overflow: hidden;
        }
    }
    .slider-dots__circle {
        box-shadow: none;
    }
}
@media(max-width: 1250px) {
    .slider-map {
        max-width: 1000px;
        min-height: 515px;
        .slick-list {
            min-height: 515px;
        }
    }
    .slider-dots {
        position: relative;
        &--1 {
            top: 266px;
            left: 0;
            .slider-dots__content {
                transform: translateX(0);
                &::before {
                    left: 0;
                }
            }
        }
        &--2 {
            top: 232px;
        }
        &--3 {
            top: 253px;
        }
        &--4 {
            top: 390px;
        }
        &--5 {
            top: 180px;
        }
        &--6 {
            top: 420px;
            left: -85px;
        }
        &--7 {
            top: 312px;
            left: -85px;
        }
        &--8 {
            top: 397px;
        }
    }
}
@media(max-width: 1102px) {
    .slider-dots__content {
        &::before {
            left: calc(50% - 0px);
        }
    }
    .slider-map {
        max-width: 100%;
        min-height: 280px;
        background-image: none;
        .slick-list {
            min-height: 280px;
            overflow: hidden;
        }
        .slick-current {
            .slider-dots__content {
                background: rgba(#ccc, .1);
            }
        }
    }
    .slider-dots {
        position: static;
        &__circle {
            display: none;
        }
        &__content {
            display: block;
            width: 285px;
            padding: 28px 31px 0 32px;
            transform: translateX(0);
            &::before {
                display: none;
            }
        }
        &--8 .slider-dots__content {
            transform: translateX(0);
        }
    }
    .slick-track {
        min-height: 280px;
    }
}
@media(max-width: 1040px) {
    .header {
        &__arrows {
            display: none;
        }
        &__search {
            padding: 40px 15px 15px;
        }
    }
    .menu {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 16px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000;
        transform: translateX(-100%);
        transition: all .5s;
        z-index: 22;
        &.active {
            transform: translateX(0);
        }
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .menu-btn {
        display: flex;
    }
    .slider-item__info {
        position: absolute;
        right: 20px;
        bottom: 17px;
        text-align: right;
        &-text {
            font-size: 30px;
            line-height: 20px;
            margin-bottom: 15px;
        }
        &-subtext {
            margin-bottom: 5px;
        }
        &-title {
            margin-bottom: 20px;
            font-size: 55px;
            line-height: 55px;
        }
    }
    .headline-left {
        padding-left: 65px;
        font-size: 16px;
        line-height: 18px;
        &::before {
            width: 50px;
        }
    }
    .slider-dotshead {
        margin: 0 auto;
        right: 0;
        left: 10px;
        bottom: 5px;
    }
    .dots-box {
        width: 125px;
        &__number {
            font-size: 18px;
        }
        &__name {
            line-height: 18px;
        }
    }
    .surf {
        &__subtitle {
            padding-right: 20px;
        }
    }
}
@media(max-width: 960px) {
    .slider-dotshead {
        display: none;
    }
}
@media(max-width: 900px) {
}
@media(max-width: 720px) {
    .surf, .holder {
        padding: 70px 0 50px;
    }
    .title {
        span {
            font-size: 100px;
            padding-bottom: 80px;
            padding-left: 10px;
        }
    }
    .surf-slider {
        padding-top: 65px;
        .slider-arrows {
            top: 20px;
        }
    }
}
@media(max-width: 520px) {
    .headline-left {
        letter-spacing: 2.333px;
    }
    .subtitle {
        &__head {
            font-size: 32px;
            padding-right: 0;
        }
    }
}
@media(max-width: 460px) {
    .header {
        &__aside {
            display: block;
            text-align: center;
            padding-right: 0;
            height: 100vh;
        }
        &__search {
            padding: 15px 0 5px;
        }
        &__date {
            padding: 0;
            font-size: 50px;
            line-height: 45px;
            span {
                font-size: 12px;
            }
        }
        &__location {
            margin-top: 0;
        }
        &__title {
            display: none;
        }
    }
}
@media(max-width: 425px) {
    .slider-map {
        .slider-dots__content {
            width: 250px;
            padding: 28px 15px 0;
        }
    }
    .slider-map {
        .slick-current {
            .slider-dots__content {
                width: 250px;
                padding: 28px 15px 0;
            }
        }
    }
}
@media(max-width: 374px) {
    .slider-map {
        .slider-dots__content {
            width: 200px;
            padding: 28px 10px 0;
        }
    }
    .slider-map {
        .slick-current {
            .slider-dots__content {
                width: 200px;
                padding: 28px 10px 0;
            }
        }
    }
}
