@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
    position: relative;
    height: 100vh;
}
.header__slider {
    &-item {
        position: relative;
        height: 100vh;
        background-image: url("../img/header-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}
.slider-item__info {
    position: absolute;
    right: 80px;
    bottom: 116px;
    text-align: right;
    color: #fff;
    text-transform: uppercase;
}
.slider-item__info-subtitle {
    margin-bottom: 5px;
}
.slider-item__info-subtext {
    margin-bottom: 8px;
}
.slider-item__info-title {
    margin-bottom: 48px;
    font-weight: 800;
    font-size: 80px;
    line-height: 86px;
}
.slider-item__info-text {
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 40px;
    line-height: 46px;
}
.slider-arrows {
    position: absolute;
    top: 40px;
    right: 80px;
    cursor: pointer;
    z-index: 4;
}
.slider-arrows__left {
    right: 125px;
}
.slider-dots {
    position: absolute;
    right: 50px;
    bottom: 36px;
    max-width: 920px;
    width: 100%;
    color: #fff;
    .slick-current {
        .dots-box {
            border-top: 4px solid $green;
        }
    }
}
.dots-box {
    width: 200px;
    height: 28px;
    display: flex;
    padding-top: 6px;
    justify-content: space-between;
    align-items: center;
    border-top: 4px solid #fff;
    &__number {
        font-size: 24px;
        line-height: 34px;
        font-weight: 800;
    }
    &__name {
        font-weight: 300;
        line-height: 19px;
    }
}
.header__aside {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 5;
    border-right: 1px solid rgba(#fff, .25);
    text-align: center;
    color: #fff;
}
.header__title {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    font-weight: 800;
    font-size: 200px;
    line-height: 156px;
    max-width: 467px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.07;
}
.menu {
    padding-top: 40px;
    a {
        color: #fff;
        span {
            display: block;
            margin-bottom: 20px;
            padding-top: 6px;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 3px;
        }
    }
}
.header__search {
    padding-top: 15px;
    padding-bottom: 35px;
}
.header__date {
    font-weight: 800;
    font-size: 72px;
    line-height: 64px;
    span {
        display: block;
        margin-bottom: 30px;
        padding-top: 15px;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 1.4px;


    }
}
.header__location {
    position: relative;
    display: inline-block;
    padding-left: 19px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1.4px;
    &::before {
        position: absolute;
        content: "";
        width: 11px;
        height: 13px;
        background-image: url("../img/marker.svg");
        left: 0;
        top: 0;
    }
}
.header__map {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}
.header__arrows {
    position: absolute;
    left: 210px;
    bottom: 30px;
    z-index: 3;
}
.line-animation {
    stroke-dashoffset: 600;
    stroke-dasharray: 600;
    animation: animdash 5s infinite 6s;
}
@keyframes animdash {
    to {
        stroke-dashoffset: 0;
    }
}


@import "media";
